<%= render partial: 'header_user_logged_in' %>
<article class="container margin-top margin-bottom">
  <div class="col-md-5 col-md-offset-4">
    <h1>New city</h1>
    <%= render 'form' %>
  </div>
</article>
<%= render partial: 'footer' %>
