.text-justified{text-align: justify;}

/* Landing Page */
.logo p{color: rgba(255,255,255,1); font-size: 1.5em;}
.logo-top-margin{margin-top:15px}
.login-top-margin{margin-top:1%;}
  .login-top-margin ul{margin-top:0.75%;}
  .login-top-margin {}
.margin-top{margin-top: 4%;}
.margin-bottom{margin-bottom: 4%;}
.map{margin-bottom: 2%}
.row-middle{padding: 5%; background-color: rgba(66, 139, 202, 1);color: rgba(255,255,255,1);}

.row-header{padding: 5%;}
.row-end{padding: 5%; background-color: rgba(88, 88, 88, 1);}
  .img-container img{border: solid 2px white;}
.social-wrapper a{padding: 3%}
.main-footer{background-color: rgba(45, 45, 45,1);color: rgba(255,255,255,1);}
/* Main Page */
.top-section{margin-top: 8em; margin-bottom: 8em;}

/* Footer */
.footer-section{margin-top: 4em; margin-bottom: 4em;}

/* Traveltickets */
.travelticket-name{font-size: 1.2em;}
  .travelticket-name i{color: rgba(45, 45, 45,1);}
  .travelticket-name-more {color: rgba(45, 45, 45,1);}

/* Places */
.near-points{display: none; color: rgba(88, 88, 88, 1);}
.neae-points a{color: rgba(63,63,63,1);}

.simple_form div.input {
  margin-bottom: 40px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

/* City View */
.map-style{width: 60%; height: 20%;}
.max-height{height: 10px;}

.places-display{height:320px; overflow:scroll; border: solid ligth-grey;}
.places-display h4{color: rgba(66, 139, 202, 1);}