<div class="navbar navbar-static-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="pull-left logo logo-top-margin"><p><a href="#"><i class="fa fa-plane fa-2x"></i></a>MakeYourTrip</p></div>
    </div>
    

    <div class="collapse navbar-collapse login-top-margin">


      <div id="navigation">
        <ul class="nav navbar-nav">
          <li><a id = "makerslink" href="#makers">Makers</a></li>
          <li><a id = "aboutlink" href="#">About</a></li>
        </ul>
      </div> 
      <div class="btn-group pull-right">
        <li class="btn"><%= link_to " Login", user_omniauth_authorize_path(:facebook) , class: "btn btn-primary fa fa-facebook-square"%><br /></li>
        <li class="btn"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary", target: "_blank"%><br /></li>
        <form class="navbar-form navbar-right" role="form">
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-info">Sign in</button>
        </form>
      </div>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div>

<script>
  function goToByScroll(id){
      id = id.replace("link", "");
      $('html,body').animate({
          scrollTop: $("#"+id).offset().top},
          'slow');
  }

  $("#navigation > ul > li > a").click(function(e) { 
        // Prevent a page reload when a link is pressed
      e.preventDefault(); 
        // Call the scroll function
      goToByScroll($(this).attr("id"));           
  });
</script>