<div class="navbar navbar-static-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="pull-left logo logo-top-margin"><p><a href="#"><i class="fa fa-plane fa-3x"></i></a>MakeYourTrip</p></div>
    </div>
    <div class="collapse navbar-collapse">
      <div class="btn-group pull-right login-top-margin">
        <li class="btn"><%= link_to " Login", user_omniauth_authorize_path(:facebook) , class: "btn btn-primary fa fa-facebook"%><br /></li>
        <li class="btn"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary"%><br /></li>
        <form class="navbar-form navbar-right" role="form">
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-info">Sign in</button>
        </form>
      </div>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div>

