<div class="container">  
  <section class="top-section">  
    <article class="row ">
      <blockquote>
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</h1>
        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
      </blockquote>

      <div class="well well-lg col-xs-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </div>
    </article>
  </section>
</div>
