<header class="row">

</header>

<section>
  <article class="row"></article>
  <article class="row"></article>
  
</section>

<footer class="row footer">
  <div class="span3"></div>
  <div class="span3"></div>
  <div class="span3"></div>
</footer>