<section>

  <article class="container" id="begin">
    <p><img class="text-center map img-center col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2" src="http://s23.postimg.org/v4n4t9byz/global_map.png"></p>
  </article>


  <article class="row-middle">
    <div class="container text-center">
      <p><h2><i class="fa fa-plane fa-3x"></i> MakeYourTrip</h4>Be simple, be smart, the World is yours...</p>
    </div>
  </article>

  <article class="row-header text-center" id="makers">
    <div class="container">
    <br>
      <div class="col-lg-4">
        <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="https://pbs.twimg.com/profile_images/1888828303/2.jpg">
        <h2>Marta Fonda</h2>
        <p> Founder - I like to work in complex projects which have scope for learning and challenge. I would like to work in a company that gave me the opportunity to learn as much as possible. Entrepreneurship is my life.</p>
        <p>
        <a class="btn btn-primary" href="https://twitter.com/MartaFonda" target="_blank" role="button"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-primary" href="http://www.linkedin.com/in/martafonda" target="_blank" role="button"><i class="fa fa-linkedin"></i></a>
        <a class="btn btn-primary" href="https://github.com/martafonda" target="_blank" role="button"><i class="fa fa-github"></i></a>
        </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="http://www.dymotics.com/new/images/crowdfunding/image13.jpg">
        <h2>Alex Martín</h2><span class="text-mute">CTO & Co-founder Dymotics</span>
        <p>Mentor - Ruby lover. Always looking forward to facing new challenges. I am higly motivated when I believe in what I am working on and I feel like I am part of it. </p>
        <p>
        <a class="btn btn-primary" href="https://twitter.com/amartinj" target="_blank" role="button"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-primary" href="http://www.linkedin.com/profile/view?id=23204994" target="_blank" role="button"><i class="fa fa-linkedin"></i></a>
        <a class="btn btn-primary" href="https://github.com/amartinj" target="_blank" role="button"><i class="fa fa-github"></i></a>
        </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="http://ironhack.com/static/fb-open.png">
        <h2>Ironhack</h2>
        <p>Intensive web developer course. Learning skills, languages, frameworks and technologies as HTML5, CSS3, javascript, clean back-end coding with git, ruby on rails, mvc and much more.</p>
        <p>
        <a class="btn btn-primary" href="https://twitter.com/theironhack" target="_blank" role="button"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-primary" href="http://www.linkedin.com/company/ironhack" target="_blank" role="button"><i class="fa fa-linkedin"></i></a>
        <a class="btn btn-primary" href="http://www.ironhack.com/" target="_blank" role="button"><i class="fa fa-plus-square"></i></a>
        </p>
      </div><!-- /.col-lg-4 -->
    </div>
  </article>

  <article class="row-end" id="about">
    <div class="container">
      <div class="col-md-7">
        <h2 class="featurette-heading">MakeYourTrip<span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead text-muted text-justified">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      </div>
      <div class="col-md-5 img-container">
        <img class="featurette-image img-responsive" data-src="holder.js/400x400/auto" src="http://s28.postimg.org/duzzpgc31/image.jpg">
      </div>
    </div>
  </article>
</section>