<div class="container">  
  <section class="top-section">  
    <article class="row">
      <blockquote>
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</h1>
        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
      </blockquote>

      <div class="well well-lg col-xs-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </div>
    </article>
    <article class="row">
      <div class="col-md-8 col-xs-8">
        <%= render partial: "cities_index" , collection: cities, as: :city %>
      </div>
      <aside class="col-md-4 col-xs-4 well well-sm">
        <%= render partial: "aside_main" %>
      </aside>
    </article>
  </section>
</div>
