<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Contact us</h4>
          <p><i class="fa fa-home"></i> 5th Avenue, New York - United States</p> 
          <p><i class="fa fa-phone"></i> Phone: +10 724 1234 567 </p>
          <p><i class="fa fa-envelope"></i> Email: <a href="mailto:hello@example.com" title="Email Us">hello@example.com</a></p>
          <p><i class="fa fa-skype"></i> Skype: <a href="skype:my.business?call" title="Skype us">my-business</a></p>
      </div>
      
      <div class="col-md-3">
        <h4>Mailing list</h4>
        <p>Sign up if you would like to receive occasional treats from us.</p>
        <form class="form-inline">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Your email address...">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Go!</button>
            </span>
          </div>
        </form>
      </div>
      
      <div class="col-md-3 ">
        <h4>Follow us</h4>
        <div class="social-wrapper">
          <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
          <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
          <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
          <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="#"><i class="fa fa-rss fa-2x"></i></a>
          <a href="#"><i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>

       <div class="col-md-3">
        <h4>About us</h4>
        <p>
        MakeYourTrip is going to make your travels easier
        </p>
        <div class="copyright">
          2013 &copy MakeYourTrip. All rights reserverd. 
          <a href="#">Terms of use</a> | 
          <a href="#">Privacy policy</a>
        </div>
      </div>
  </div>
</footer>