<section class="row">
    <article class="travelticket-name">
      <p><i class="fa fa-map-marker"> </i> <%= place.name %> - <span class="small"><%= place.address %> </span><span class="small label label-info" href="#"> NEAR? </span></p>
      <article class="near-points" style="">
        <ul>
          <% place.nearbys(10).each do |near_place| %>
            <li><%= link_to near_place.address, place %> (<%= near_place.distance.round(2) %> miles)</li>
          <% end %>
        </ul>
      </article>
    </article>
</section>

<script type="text/javascript">
    $('.travelticket-name .label-info').on('click', function(){
      $('.near-points').hide();
      $(this).parent().siblings('article').show();
    });
</script>