<section class="row">
  <% @city.traveltickets.each do |travelticket| %>
    <article class="travelticket-name">
      <div class="col-md-8">
        <p><i class="fa fa-globe"> </i> <%= travelticket.origin %> - <%= travelticket.destination %> <span class="small"><%= travelticket.departure %></span></p>
      </div>
      <div class="col-md-3">
        <%= link_to 'MORE', travelticket_path(travelticket), class: "travelticket-name-more" %>
      </div>
    </article>
  <% end %>
</section>